<div class="container">
  <div class="div1 animate__animated animate__fadeInDown text-center">
    <h2>Welcome to</h2>
    <span id="conta">
      <span class="CB">CodeBakery!</span>
      <span class="text text-center">
        <h4>
            Unleash your coding potential with CodeBakery - where the art of
            programming meets the science of baking success!
        </h4></span
      >
      <span class="animate__fadeInLeft animate__animated"
        ><button
          routerLink="/details"
          class="btn animate__fadeInLeft animate__animated animate__delay-1s"
        >
          <span>Check our courses</span>
        </button></span
      ></span
    >
  </div>
  <div class="div3">
  </div>
</div>
