<div class="container">
  <div class="row py-5">
    <div class="col text-center">
      <h1
        class="ms-md-5 display-3 font animate__fadeInLeft animate__animated colorr"
      >
        CodeBakery
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h3 class="animate__fadeInRight animate__animated diss">
        The Code Bakery Bootcamp is an immersive coding experience designed for
        aspiring developers. Our program is tailored to equip you with the
        practical skills and industry knowledge needed to thrive as a software
        engineer.
      </h3>
    </div>
    <div class="row my-5">
      <div class="col-md-4">
        <span class="mb-4"><strong>CodeBakery Group</strong></span>
        <br /><span> Rotenturmstrasse 12 </span>
        <br />
        <span>1010 Vienna </span>
        <br />
        <span>Austria</span>
        <br />
        <span>Tel:0043 662 345 67 89</span>
        <br />
        <span>Email: info@codebakery.com</span>
        <br />
        <span><strong>Please use this address to send your mail.</strong></span>
      </div>
      <div class="col-md-4">
        <h2>Imprint</h2>
        <span>VAT-Number: ATU12345678</span><br />
        <span>Commercial register number: FN 123456b </span><br />
        <span>Court: Vienna</span>
      </div>
      <div class="col-md-4">
        <h2>Rules of professional conduct</h2>
        <span>Industrial Code: www.ris.bka.gv.at</span><br />
        <span>District Commission Vienna 1010</span>
      </div>
    </div>
  </div>
</div>
<google-map width="100%" [options]="options">
  <map-marker [position]="markerPosition" [options]="markerOptions"></map-marker
></google-map>
