
<div class="container my-4">
    <h1 class="my-5 text-center">Stay updated ....</h1 >
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://images.pexels.com/photos/11035474/pexels-photo-11035474.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Python 3.10.0 Released</h5>
              <p class="card-text">The latest version of Python, version 3.10.0, was released on October 4th, 2021. The new release includes several new features and improvements, including improved error messages, improved performance, and better support for type annotations <a href="">...Read more</a>.</p>
               </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 2 days ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj8W0dmzi4L-Me0CS6C_PAi5_CeCZ0b5EwRQ&usqp=CAU" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Kotlin Multiplatform Mobile 1.5.0 Released</h5>
              <p class="card-text">JetBrains released version 1.5.0 of Kotlin Multiplatform Mobile (KMM), a popular framework for building cross-platform mobile apps. The new release includes several new features, including improved support for Apple's new ARM64 architecture and better debugging support <a href="">...Read more</a>.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 7 days ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://developer.apple.com/swift/images/swift-og.png" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Apple Announces Swift Playgrounds 4</h5>
              <p class="card-text">Apple announced the release of Swift Playgrounds 4, an app for iPad and Mac that teaches users how to code in Swift, Apple's popular programming language. The new version of the app includes several new features, including new lessons and challenges, better support for SwiftUI, and the ability to create and edit code on an iPad with a keyboard <a href="">...Read more</a>.</p>
              </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 36  mins ago</small>
            </div>
          </div>
        </div>
        
      </div>
</div>
