<app-hero></app-hero>

<div id="lg">
  <div id="imgtxt">
    <div>
        <h2>Who are we?</h2>
        <p>
          Transforming motivated learners into industry-ready software engineers.
        </p>
    </div>

    <div>
        <h3>Our Purpose</h3>
        <p>To ignite human potential with knowledge.</p>
    </div>

    <div>
        <h3>Our Mission</h3>
        <p>
          To provide outcomes-driven education for motivated adult learners and
          organizations to activate and propel technology-focused careers.
        </p>
    </div>
  </div>
</div>
<h2 class="font text-center display-3">Who We Serve</h2>
<div class="container mb">
  <div class="row">
    <div class="col-4">
      <div class="shadow list-group" id="list-tab" role="tablist">
        <a
          class="list-group-item list-group-item-action list-group-item-light active"
          id="list-home-list"
          data-bs-toggle="list"
          href="#list-home"
          role="tab"
          aria-controls="list-home"
          >Our Students</a
        >
        <a
          class="list-group-item list-group-item-action list-group-item-light"
          id="list-profile-list"
          data-bs-toggle="list"
          href="#list-profile"
          role="tab"
          aria-controls="list-profile"
          >Employers</a
        >
        <a
          class="list-group-item list-group-item-action list-group-item-light"
          id="list-messages-list"
          data-bs-toggle="list"
          href="#list-messages"
          role="tab"
          aria-controls="list-messages"
          >Community</a
        >
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active lhght"
          id="list-home"
          role="tabpanel"
          aria-labelledby="list-home-list"
        >
          <h3 class="font">Our students</h3>
          <p>
            Our bootcamps are designed to fit our students' schedules and skill
            levels. We train students using computer science and coding
            curriculum that models the exciting work being done in the software
            engineering industry, and we provide career services to help
            students land their dream jobs.
          </p>
          <img
            class="txtimg"
            src=".\assets\SeekPng.com_students-png-transparent_2558318.png"
            alt=""
          />
        </div>
        <div
          class="tab-pane fade lhght"
          id="list-profile"
          role="tabpanel"
          aria-labelledby="list-profile-list"
        >
          <h3 class="font">Employers</h3>
          <p>
            We're proud to be a leading provider of software engineering talent
            powering organizations of all sizes. Our Partnerships team
            facilitates an efficient hiring process, including hands-on support
            that connects employers with top-tier engineers graduating from our
            programs, all at zero cost.
          </p>
          <img class="txtimg" src=".\assets\download.png" alt="" />
        </div>
        <div
          class="tab-pane fade lhght"
          id="list-messages"
          role="tabpanel"
          aria-labelledby="list-messages-list"
        >
          <h3 class="font">Community</h3>
          <p>
            We make software engineering more accessible to underrepresented
            groups in tech through full-tuition scholarships, our Telegraph
            Track initiative, our new 19-week bootcamp (designed for those with
            no coding experience), and more.
          </p>
          <img class="txtimg" src=".\assets\clipart1009919.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="inf">
  <img class="rounded" src=".\assets\monkey.jpeg" alt="" />
  <div>
    <h3 class="font">How will you learn</h3>
    <p>
      <b>Learn and grow courageously:</b> We approach our work with a
      learning-oriented growth mindset. We navigate challenges with courage and
      optimism.
    </p>
    <span class="disn">
      <p>
        <b>Create belonging with intention:</b> We intentionally include others
        whose voices may be absent but are necessary. We are respectful of
        others’ identities and perspectives, and we seek to understand different
        opinions and viewpoints.
      </p>
      <span class="disn1">
        <p>
          <b>Come together, build together:</b> We bring together relevant
          stakeholders when performing cross-functional work, including
          cross-functional teams or projects when merited. We co-create, inform,
          and execute critical work that aligns with company strategy.
        </p>
        <p>
          <b>Win with integrity:</b> We accomplish goals and behave ethically
          and honestly. We avoid cutting corners or doing what’s minimally
          required.
        </p></span
      >
    </span>
  </div>
</div>
<div class="container time">
  <div class="row text-center justify-content-center mb-5">
    <div class="col-xl-6 col-lg-8">
      <p class="text-muted display-6">
        We’re very proud of the path we’ve taken. Explore the history that made
        us the company we are today.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
        <div class="timeline-step">
          <div
            class="timeline-content"
            data-toggle="popover"
            data-trigger="hover"
            data-placement="top"
            title=""
            data-content="And here's some amazing content. It's very engaging. Right?"
            data-original-title="2003"
          >
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">2011</p>
            <p class="h6 text-muted mb-0 mb-lg-0">Code Bakery Founded</p>
          </div>
        </div>
        <div class="timeline-step">
          <div
            class="timeline-content"
            data-toggle="popover"
            data-trigger="hover"
            data-placement="top"
            title=""
            data-content="And here's some amazing content. It's very engaging. Right?"
            data-original-title="2004"
          >
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">2012</p>
            <p class="h6 text-muted mb-0 mb-lg-0">First Bootcamp</p>
          </div>
        </div>
        <div class="timeline-step">
          <div
            class="timeline-content"
            data-toggle="popover"
            data-trigger="hover"
            data-placement="top"
            title=""
            data-content="And here's some amazing content. It's very engaging. Right?"
            data-original-title="2005"
          >
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">2015</p>
            <p class="h6 text-muted mb-0 mb-lg-0">First online bootcamp</p>
          </div>
        </div>
        <div class="timeline-step">
          <div
            class="timeline-content"
            data-toggle="popover"
            data-trigger="hover"
            data-placement="top"
            title=""
            data-content="And here's some amazing content. It's very engaging. Right?"
            data-original-title="2010"
          >
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">2016</p>
            <p class="h6 text-muted mb-0 mb-lg-0">
              Launched new program for coding beginners
            </p>
          </div>
        </div>
        <div class="timeline-step mb-0">
          <div
            class="timeline-content"
            data-toggle="popover"
            data-trigger="hover"
            data-placement="top"
            title=""
            data-content="And here's some amazing content. It's very engaging. Right?"
            data-original-title="2020"
          >
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">2020</p>
            <p class="h6 text-muted mb-0 mb-lg-0">
              Shifted to fully remote education
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="font cen display-3" id="ched">Most popular courses</h2>
<div class="container gridd shad">
  <ul class="list-group">
    <a routerLink="details/6">
      <li
        class="list-group-item rounded-top fw-semibold colorrr bbb hove text-body-tertiary"
      >
        Online course
      </li>
      <li class="list-group-item chgt">
        <b>Front-end web developer</b>
        <p>
          A front-end developer builds the front-end portion of websites and web
          applications—the part users see and interact with. A front-end
          developer creates websites and applications using web languages such
          as HTML, CSS, and JavaScript that allow users to access and interact
          with the site or app.
        </p>
      </li>
      <li class="list-group-item">
        <i class="fa-solid fa-chart-simple"></i>&#12644;<b>Advanced</b>
      </li>
    </a>
  </ul>
  <ul class="list-group shad">
    <a routerLink="details/3">
      <li
        class="list-group-item rounded-top fw-semibold colorrr bbb hove text-body-tertiary"
      >
        Onsite course
      </li>
      <li class="list-group-item chgt">
        <b>Python</b>
        <p>
          Python is a computer programming language often used to build websites
          and software, automate tasks, and conduct data analysis. Python is a
          general-purpose language, meaning it can be used to create a variety
          of different programs and isn't specialized for any specific problems.
        </p>
      </li>
      <li class="list-group-item">
        <i class="fa-solid fa-chart-simple"></i>&#12644;<b>Beginner</b> friendly
      </li>
    </a>
  </ul>
  <ul class="list-group shad">
    <a routerLink="details/4">
      <li
        class="list-group-item rounded-top fw-semibold colorrr bbb hove text-body-tertiary"
      >
        Online course
      </li>
      <li class="list-group-item chgt">
        <b>PHP</b>
        <p>
          PHP is a script language and interpreter that is freely available and
          used primarily on Linux Web servers. PHP, originally derived from
          Personal Home Page Tools, now stands for PHP: Hypertext Preprocessor,
          which the PHP FAQ describes as a recursive acronym. PHP code can also
          be directly executed from the command line.
        </p>
      </li>
      <li class="list-group-item">
        <i class="fa-solid fa-chart-simple"></i>&#12644;<b>Beginner</b> friendly
      </li>
    </a>
  </ul>
</div>
<p id="aaa" class="cen">
  <a class="btn btn-warning" routerLink="details">All Courses</a>
</p>

<app-updates></app-updates>
<br/>
<app-news></app-news>
